.partner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    overflow: visible; 
    height: 600px; /* Adjust the height to suit your layout */    
}

.partner-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 30px;
    gap: 25px;
    position: relative;
    background-color: #f4f4f4;
    box-shadow: rgba(244, 244, 244, 0.8);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.partner-us {
    font-size: 22px;
    color: rgba(54, 69, 79, 1);
}

.partner-card:hover {
    box-shadow: 2px 2px 15px rgba(255, 230, 0, 0.13); /* Depth increase on hover */
  }

.partner-left-title,
.partner-right-title {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 600px;
    margin-top: 15px;
    font-family: 'Georgia', serif;    
}

.partner-left {
    background: #4B0082;
    padding: 30px 20px;
    text-align: center;
    width: 400px;
    border-radius: 8px;
    flex-grow: 0;
    position: relative;
}

.partner-right {
    background: #4B0082;
    padding: 30px 20px;
    text-align: center;
    width: 400px;
    border-radius: 8px;    
}

.partner-left-text,
.partner-right-text {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 3px;
    text-align: left;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.prayer-request-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(180, 77, 49);
}

.partner-left-button,
.partner-right-button {
    color: #fff;
    text-decoration: none;
    background-color: #F2C94C;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.partner-link:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(180, 77, 49);
}

.bible-ref {
    font-style: italic;
    color: #FFD700; /* Rich gold accent color */
}

.partner-left-button:hover,
.partner-right-button:hover {
  background-color: #B35B26; /* Muted copper for hover effect */
  transition: background-color 0.3s ease; /* Smooth transition */
}