@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden; /* Prevents unwanted horizontal scrolling */
  background: #F5F5F5;
}


a {
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

/* Hide mobile elements on tablets and larger screens */
@media (min-width: 1024px) {
  .b2s_mobile {
    display: none !important;
  }
}

/* Hide desktop elements on mobile and smaller tablets */
@media (max-width: 1023px) {
  .b2s_desktop {
    display: none !important;
  }
}
