.leader {
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 50px;
}

.leader-left {
    flex-basis: 40%;
    display: flex;
    align-items: center;
}

.leader-right {
    flex-basis: 56%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 13px 0 0 0;
}

.leader-img {
    width: 100%;
    border-radius: 2%;
    height: auto;
    max-height: 100%;
}

.lead-pastor {
    font-size: 25px;
    color: rgba(54, 69, 79, 1);
    font-weight: 300;
}

.pastor {
    font-size: 30px;
    color: rgba(54, 69, 79, 1);
    margin: 5px 0;
    width: 100%;
}

.leader p {
    color: rgb(32, 40, 45);
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.4;
}