.partner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
}

.partner-us {
    font-size: 22px;
    color: rgba(54, 69, 79, 1);
}

.partner-left,
.partner-right {
    width: 40%;
    border-top: #333;
}

.partner-left a {
    color: rgba(0, 102, 108, 1);
    text-decoration: none;
    font-size: 18px;
}

.partner-left a:hover {
    text-decoration: underline;
    color: rgba(0, 102, 108, 1);
}

.partner-text {
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    margin-top: 1px;
    font-size: 18px;
    color: #333;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-form input {
    padding: 10px;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 4px;
    width: 200px;
    font-size: 16px;
    flex: 0.5;
    margin-left: -20%;
    justify-content: center;
    align-items: center;
}

.subscribe-form button {
    background-color: rgb(239, 86, 31);
    color: white;
    border: none;
    padding: 2px 20px;
    font-size: 16px;
    cursor: pointer;
}

.subscribe-form button:hover {
    background-color: rgb(4, 78, 71);
}

