.vision-container {
    text-align: center;
    margin-top: 60px;
    padding: 20px;
    background-color: #c4ffd62e; /* Light background colour*/
    border-top: 8px solid #c60094; /* Top border (bolder) */
    box-sizing: border-box;
}

.vision {
    white-space: no-wrap;
    font-size: 50px;
    font-weight: 600;
    color: #333;
    animation: shake 1s ease-in-out 5; 
}

.vision-text {
    font-size: 15px;
    margin-top: 5px;

}

@keyframes shake {
    0% {        
        transform: translateX(0);  /* Starting position */
    }
    25% {
        transform: translateX(-5px);  /* Move left */ 
    }
    50% {
        transform: translateX(5px);  /* Back to starting position */
    }
    75% {
        transform: translateX(-3px);  /* Move right */ 
    }
    100% {
        transform: translateX(3px);  /* Back to starting position */
    }
}
    


